@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
:root {
  --background: rgb(20, 20, 20);
  --purple1: #c299ff;
  --purple2: #6a46a0;
  --cream: #fff;
  --gray1: #b4aeaee2;
  --black1: #1e1f24;
  --shadow: 0 8px 8px;
  --color_shadow:#4a494933; 
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
body{
  font-family: 'Roboto',sans-serif;
  position: relative;
  background-color:var(--background)
}
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}
.hero {
  width: 100%;
  min-height: 10vh;
}
.nav_hero {
  color:#fff;
  height: 70px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding:0;
}
.hero_main{
  height: 90vh;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}
.banner{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images8.alphacoders.com/132/1320554.png");
  background-position: center;
  background-size: cover;
}
.hero_text{
  padding: 15px;
  text-align: center;
  line-height: 1.4;
  color: #ffff;
}
.hero_text h1{
  font-size: 5vw;
}
.hero_text h3{
  font-size: 25px;
}
.hero_text p{
  font-size: 20px;
  font-weight: normal;
}
.hero_text h2{
  font-size: 40px;
}
.btn{
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}
.btn-link{
  padding: 20px 20px;
  display: inline-block;
  background-color:#794cc1;
  text-decoration: none;
  color: white;
  box-shadow: var(--shadow) var(--color_shadow);
  justify-content: center;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  margin: 15px 15px 15px 15px;
}
.btn_social{
  display: flex;
  justify-content: space-between;
}
.social_link{
  border-radius: 100%;
  padding: 15px;
  box-shadow: none;
}
.bg-gray{
  opacity: 1;
  background-color: var(--gray1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 15px 15px 15px 15px;
  border: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration-color: var(--black1);
}
.link {
  display: inline-block;
  color: inherit;
  text-decoration:none ;
  padding:10px;
  font-weight: 500;
  font-size: 20px;
}
.point{
  color:var(--purple1);
}
.tittle--active{
  color:var(--purple1);
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
}
.subtitle{
  font-size: 40px;
}
.subtitle--modifier{
  text-align: center;
  margin-bottom: 16px;
}
.skill{
 margin-bottom: 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.column{
text-align: center;
flex: 1;
margin: 0 10px;
}
.row{
  display: inline-flex;
  width: 100%;
  margin-left: 200px;
  margin-right: 200px;
}
.container_about{
  padding: 50px;
}
.container_skills {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-copy {

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.bg-gray-copy {
  opacity: 1;
  background-color: var(--gray1);
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 2px 15px 15px 15px;
  border: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration-color: var(--black1);
}

.card_button {
  margin: 15px;
  background: var(--purple1);
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  color: var(--black1);
  font-weight: 700;
  text-align: center;
  padding: 10px 10px;
}

.container-bg {
  display: flex;
  justify-content: space-around;  
  align-items: center;
}
.card{
  width: 40%;
  padding: 30px 0px;
  background: var(--cream);
  border-radius: 10px;
  text-align: left;
  margin-bottom: 30px;
  box-shadow: 0 0 6px var(--color_shadow);
}
.cards_text{
  padding: 15px;
  line-height: 1.4;
  color:black;
}
.background__img{
  width: 100%;
  border-radius: 6px;
  margin: auto;
  padding: auto;
  z-index: 1;
  object-fit: cover;
  height: 300px;
}


.contact-btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 15px;
  background-color: var(--purple1);
  border-radius: 5px;
  box-shadow: var(--shadow) var(--color_shadow);
  transition: background-color 0.3s ease;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: var(--purple2);
}

.contact-link li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.contactanos {
  background-repeat: no-repeat; 
  background-position: center center; 
  border-radius: 6px;
  box-shadow: 0 0 6px var(--color-secudario);
  padding: 0% 4%;
  box-sizing: border-box;

  & h1 {
      color: var(--color-terciario);
      text-align: left;
      font-size: 300%;
  }
  .contactanos__informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contactanos__input {
    flex: 1;
    width: 50%;
  }
  
  .contactanos__btn {
    flex: 0 0 100%;
  }

  & .contactanos__informacion {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &  label,select,input,button {
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: none;
          border-radius: 3px;
          box-sizing: border-box;
      }

      & .contactanos__input {
          background-color: #fbf9f9;
          font-size: 120%;

          & select {
              width: 100%;
          }
      }

      &:nth-child(odd) {
          width: 32.5%;
          float: left;
          margin-right: 3%;
      }

      &:nth-child(even) {
          width: 32.5%;
          float: left;
      }

      &:last-child {
          clear: both;
          width: 68%;
      }

      & label {
          display: block;
          text-align: left;
          font-weight: bold;
          font-size: 120%;
          color: var(--color-terciario);
      }

      & .contactanos__mensaje {
        flex: 0 0 100%;
      }
  }

  & textarea {
      width: 100%; 
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
  }

  & button {
    background-color: #794cc1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
    font-size: 120%;

    &:hover {
      background-color: var(--purple2);
    }
}
}


@media screen and (max-width: 768px) and (min-width: 500px) {
  .contactanos .contactanos__informacion {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  
  .contactanos .contactanos__input:last-child {
    clear: none;
  }

  .contactanos .contactanos__mensaje {
    flex: 1;
  }

  .contactanos button {
    width: 48%;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 500px) {
  .contactanos .contactanos__informacion:nth-child(odd),
  .contactanos .contactanos__informacion:nth-child(even) {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .contactanos button {
    width: 100%;
    padding: 15px 10px;
  }
}

.bg-gray-copy {
  opacity: 1;
  background-color: var(--gray1);
  border-radius: 0.2rem;
  padding: 0.5rem; 
  margin: 10px;
  display: inline-block; 
  font-weight: 500;
  font-size: 16px; 
  text-align: center;
  color: var(--black1);
}
.bg-gray-copy--purple{
  background-color: var(--purple1);
  text-decoration: none;
}

.form-and-links {
  position: relative;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contact-link {
  margin-top: 10px;
  margin-bottom: 10px;
}


.foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding:0;
}


